    <div class="domains-button-action">
        <a href="#" id="delete_domain_action" onclick="event.preventDefault(); local_categories_domains.deleteDomainPopup('{{domain_name}}')">
            <i class="icon fa fa-trash fa-fw" title="{{# str }} delete, local_categories_domains {{/ str }}" aria-label="{{# str }} delete, local_categories_domains {{/ str }}"></i>
        </a>
    </div>
