

<table id="domains-table" class="dataTable no-footer">
    <thead>
    <tr>
        <th>{{# str }} domain_names, local_categories_domains {{/ str }}</th>       
        <th>{{# str }} actions, local_categories_domains {{/ str }}</th>       
    </tr>
    </thead>   
</table>

{{> local_categories_domains/add_domain_popup}}